.cards {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
}
.cards .card { 
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
}
.selected-item { 
    background-color: darkblue;
    color: white;
}