<%- include('partials/header') %>
<style>
    .container {
      overflow-y: auto;
      height: 130px;
    }
    th {
      position: sticky;
      top: 0;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th,td {
      padding: 5px 10px;
      border: 2px solid #626d5c;
      text-align: center;
    }
  </style>
<div class="mx-5 mt-3">
  <h1><%= pageTitle %></h1>
  <%- table %>
</div>
<%- include('partials/footer') %>