.caps {
    text-transform: capitalize;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cards > .card { 
    width: 500px;
}
.card .row:hover {
    background-color: #bbb;
}